@import '../global.scss';

/*
  MUI Theme Overrides
*/
@mixin buttonThemeOutlined($theme-color, $theme-color-dark) {
  border: 1px solid rgba($theme-color, 0.5);
  background-color: rgba($theme-color, 0.05);
  &:hover {
    border-color: $theme-color;
    background-color: rgba($theme-color, 0.2);
  }
  .MuiButton-label {
    color: $theme-color-dark;
  }
  .MuiTouchRipple-root .MuiTouchRipple-ripple .MuiTouchRipple-child{
    color: $theme-color;
    opacity: 1;
  }
}
@mixin buttonThemeContained($theme-color, $theme-color-dark) {
  // border: 1px solid rgba($theme-color, 0.5);
  background-color: rgba($theme-color-dark, 0.9);
  &:hover {
    background-color: rgba($theme-color, 0.9);
  }
}
button.MuiButton-outlinedPrimary {
  @include buttonThemeOutlined($color6, $color6-dark);
}

button.MuiButton-containedPrimary {
  @include buttonThemeContained($color2, $color2-dark);
}
